extends layout

block content
  .container__news
    .news__element
      each item in newsData
        .news-item
          .news-item__image
            img(src=item.image, alt=item.title)
          .news-item__content
            h3
              a(href="/news/" + item.slug)= item.title
            p= item.shortContent
            .news-item__date= item.date
    .divider
           